body {
	margin: 0px;
}

header {
	text-align: center;
    background: url("../images/bombs.jpg");
    background-size: 60%;
    background-repeat: repeat;
    display:inline-block;
    width: 100%;
}

.headerLogo {
	padding-top:20px;
}


.ulheader {
    padding: 10px;
    background-color: rgba(255,0,0,0.8);
    border-top: 2px solid black;
    border-bottom: 6px solid black;
    margin: 20px 0px 20px 0px;
    
}

.ulheader li {
    display: inline; 
    padding: 0px 80px 0px 80px;
    
}

.ulheader li a {
    color: white;
    text-decoration: none;
    font-family: "Gruppo", helvetica, sans-serif;
    font-size: 1.5em;

}

.divbody {
	font-family: "Exo 2";
	font-weight: 200;
	font-size: 12pt;
	margin: 0 auto;
	padding-top: 0px;
	padding-left:100px;
	padding-right:150px;
	padding-bottom: 15px;
	border-left: 30px solid #000;	
	border-right: 30px solid #000;
	
	 
}

.thomaspic {
	height:350px;
	float:left;
	margin: 30px 50px 30px 0px;
	box-shadow: 0px 5px 5px red;
}

h1 {
	font-family: "Gruppo";
	font-weight: 100;
	font-size: 50px;
	margin: 0px;
	padding-top:30px;
}

h2 {
	font-family: "Gruppo";
	font-size: 30pt;
	margin:0px;
	padding:0px;
}

h2 a {
	font-family: "Gruppo";
	color: rgb(200,200,200);
	font-size: 17pt;
	margin:0px;
	padding:0px 0px 10px 0px;
	text-decoration: none;
	border-bottom: 1px dotted rgb(200,200,200);
}

h3 {
	margin-top:1.8em;
	font-family: "Gruppo";
	font-size:20pt;
}

hr { 
	background-color: rgb(255,0,0); height: 1px; border: 0; 
}

footer {
	font-size: 40px;
	color: rgb(200,200,200);
	font-family: "Rajdhani";
	background-color: rgb(0,0,0)